@charset "UTF-8";
        body {
            background-color: rgb(54, 54, 54);
            font-family: Arial, Helvetica, sans-serif;
        }
        h1 {
            color: rgb(105, 0, 167);
        }
        h2 {
            color: rgb(206, 154, 255);
        }
        p {
            color: white;
        }