@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

body{
    font: 400 16px 'Nata Sans', sans-serif;
    text-align: left;
    background-color: rgb(186, 255, 180);
}

h1{
    text-align: left;
}

#principal{
    text-align: center;
    background-color: rgb(0, 78, 0);
}
.subtitulo_principal{
    color: rgb(0, 0, 0)
}

.basico{
    color: rgb(0, 128, 0)
}

.intermediario{
    color: rgb(172, 169, 0)
}

.avancado{
    color: rgb(255, 0, 0)
}

p{
    text-align: justify;
}