@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

body{
    font: 400 16px 'Nata Sans', sans-serif;
}


div{
    background-color: lightgray;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

div:hover{
    background-color: yellow;
}