@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

body{
    font-family: 'Nata Sans';
}

div.bloco{
    height: 200px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
    background-image: url(imagens/wallpaper002.jpg);
}